.everything {
  background-color: lightgreen;
}

html, body {
    margin: 20px;
}

.navbar {
  background-color: #EBEBFF;
}

nav .active {
  font-weight: bold;
}

.muted {
  opacity: 0.5;
}

.col-md-4 {
  background-color: #FDFDFF;
}
