<h3>Provide a New Answer</h3>

  <form>
    <div class="form-group">
      {{textarea value=text id="text" class="form-control" placeholder="Enter your answer here." rows="5"}}
    </div>

    <button class="btn btn-primary" {{action 'saveAnswer'}}>Add your comment</button>
  </form>
