
<br>
<br>

  <div class="row">
    <div class="col-md-8">
      <h3>{{model.asked}}</h3><br>
      <h4>Details: {{model.description}}</h4>
      <h5>Author:  {{model.author}}</h5>
    </div>
  </div>






  {{outlet}}
